.App {
  padding: 10px;
}

.itemsList {
  list-style-type: none;
  .item {
    font-style: italic;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: green;
    }
  }
  .selectedItem {
    font-weight: bold;
  }


}
