<div>
  <table class="table table-striped" *ngIf='items && items.length'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Tag</th>
        <th>Class</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of items'>
        <td>{{item.id}}</td>
        <td>{{item.tag}}</td>
        <td>{{item.className}}</td>
        <td>{{item.description}}</td>
        <td>
          <a class='nav-link' [routerLink]="['/items', item.id]">Details</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
